.classDiv2{
    background-image: url("../images/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.textoInicio2{
    padding-top: 3%;

}

.textoInicio2 > p{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 300;

}

.textoInicio2 > h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 7rem;

}

.form-label, .form-check{
    color: white;
    font-family: 'Quicksand', sans-serif;
}