.clase1 {
  background-color: black;
  color: white;
  margin: 20px 0 20px 0;
  padding: 20px;
}
h2 {
  background-color: orange;
}
#p1 {
  background-color: peru;
  font-size: xx-big;
  font-family: fantasy;
}
