<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!--Bloque de CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
        <link rel="stylesheet" href="css/estilo1.css">
    </head>
    <body>
        <div class="container p-3 my-3 bg-success text-white">
            <h1>Adopta un ewok</h1>
            <p>Son criaturas del universo de Star Wars</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 bg-primary">
                    <p>1</p> 
                </div>
                <div class="col-lg-6 bg-danger">
                       <p>2</p> 
                </div>
                <div class="col-lg-3 bg-primary">
                    <p>3</p> 
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 bg-primary">
                    <p>1</p> 
                </div>
                <div class="col-sm-6 bg-danger">
                       <p>2</p> 
                </div>
                <div class="col-sm-4 bg-primary">
                    <p>3</p> 
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <h1>Titulo de la pagína</h1>
            <button class="btn-primary">Press</button>
        </div>
        <div id="div1" style="background-color: lightpink;">
            <p title="ayuda" id="p1" >Hola mundo</p>
            <h1 class="clase1">Titulo</h1>
            <h2>Ejemplo</h2>
        </div>
        <img src="images/imagen1.png" alt="NES" width="300" height="100"/>
        <br/>
        <img id='img2' src="images/imagen1.png" alt="NES" width="300" height="100"/>
        <br>
        <!-- Comentario de línea-->
        <a href="https://www.google.com/">Google</a>
        <p class="clase1" id='p2'>Este es un mensaje <span style="background-color: mediumorchid;">importante</span></p>
        <h2>Ejemplo 1</h2>

        <button onclick="funcion1()">Click on me!</button>
        <button ondblclick="document.getElementById('p2').innerHTML = 'Hola Javascript'">Cambio</button>
        <button onmouseover="document.getElementById('img2').src ='images/SNES.png'">Mouse</button>
        <button onclick="document.getElementById('div1').style.backgroundColor='green'">Click</button>
        <script src="js/script1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <!--<script src="js/bootstrap.bundle.min.js"></script>-->
    </body>
</html>