<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"  href="../css/style.css" />

    <title>Alder Lake</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!--Fonts Awesome-->
    <script
      src="https://kit.fontawesome.com/b56dd4d4f6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!--Bloque Uno Unicio-->
    <div class="classDiv">
      <div class="container banner">
        <div class="row">
          <div class="col">
            <img
              src="../images/Logo-Intel.png"
              width="150px"
              alt="Logo Intel"
              title="INTEL LOGO ALL RIGHST RESERVED"
            />
          </div>
          <div class="col">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <div
                  class="collapse navbar-collapse d-flex justify-content-center"
                  id="navbarNavAltMarkup"
                >
                  <div class="navbar-nav menu">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Specifications</a>
                    <a class="nav-link" href="./Alder-Lake/Registro">Register</a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col d-flex justify-content-end">
            <svg
              style="padding-top: 10px; cursor: pointer"
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-menu-2"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="4" y1="6" x2="20" y2="6" />
              <line x1="4" y1="12" x2="20" y2="12" />
              <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div
            class="col-1 menuH"
            style="padding-top: 90px; margin-left: -27px"
          >
            <p>01</p>
            <p>02</p>
            <p>03</p>
            <p>04</p>
            <p>05</p>
          </div>
          <div class="col-11 textoInicio">
            <p style="margin-bottom: -30px; font-size: 4.5vw;">Meet the new</p>
            <h1 style="margin-top:30px;margin-bottom: -30px; font-size: 9.5vw">Intel Alder</h1>
            <h1 style="margin-top: 30px;font-size: 9.5vw">Lake</h1>
            <button
              onclick="buttonWithLink()"
              type="button"
              class="btn btn-primary btn1"
            >
              More information
            </button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <p></p>
          </div>
          <div style="padding-bottom: -30px;" class="col-xl menuDown justify-content-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mouse"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="6" y="3" width="12" height="18" rx="4" />
              <line x1="12" y1="7" x2="12" y2="11" />
            </svg>
            <p>Scroll down to explore</p>
          </div>
          <div
            class="col-xl d-flex justify-content-center"
            style="padding-top: 100px; padding-bottom: 30px;"
          >
          <a href="https://www.facebook.com/weareIntel" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-facebook"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              />
            </svg>
          </a>
            <a href="https://www.instagram.com/intel/?hl=en" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-instagram"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="4" y="4" width="16" height="16" rx="4" />
              <circle cx="12" cy="12" r="3" />
              <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
            </svg>
          </a>
            <a href="https://www.youtube.com/watch?v=htCvo9XJZDc" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-youtube"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="3" y="5" width="18" height="14" rx="4" />
              <path d="M10 9l5 3l-5 3z" />
            </svg>
          </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-md textoInicio3">
          <p style="margin-bottom: -10px; text-align: center">
            Evolve your world
          </p>
          <h1 style="margin-bottom: 30px; text-align: center; font-size: 10vw;">
            Specifications
          </h1>
          
          <div class="table-responsive-md">
          <table id="table-specs" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="col"></div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button
              type="button"
              onclick="func1()"
              class="btn btn-primary btn2"
              style="margin: 5px"
            >
              Click
            </button>
            <button
              type="button"
              ondblclick="func2()"
              class="btn btn-primary btn2"
              style="margin: 5px"
            >
              Doble click
            </button>
          </div>
        </div>
      </div>
      <div style="padding: 30px"></div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="../js/script.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
