<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row bg-light">
        <div class="col-md-2 display-1">
          <p>LOGO</p>
        </div>
        <div class="col-md-9 toCenter">
          <br><br><br><p>-------Index--------</p>
        </div>
        <div class="col-md-1">
          <br><br><br><p>Idioma</p>
        </div>
      </div>
      <div class="row bg-dark" style="color: white;">
        <div class="col-md-1">
          <p>S<br>C<br>R<br>O<br>L<br>L<br> <br>D<br>O<br>W<br>N</p>
        </div>
        <div class="col-md-10 toCenter">
          <p><br><br><br><br><br>I M A G E N</p>
        </div>
      </div>
      <br>
      <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Nombre del producto</th>
              <th scope="col">Estado</th>
              <th scope="col">No. de nucleos</th>
              <th scope="col">Caché</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Procesador 1</th>
              <td>Launched</td>
              <td>8</td>
              <td>24 MB</td>
            </tr>
            <tr>
                <th scope="row">Procesador 2</th>
                <td>Launched</td>
                <td>4</td>
                <td>24 MB</td>
            </tr>
            <tr>
                <th scope="row">Procesador 2</th>
                <td>Launched</td>
                <td>2</td>
                <td>32 MB</td>
            </tr>
          </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
